#wpcontent {
	padding-left: 0;
	padding-right: 0;
}

.srea-admin-wrapper {
	display: block;
	margin: 0 auto;
	max-width: 900px;
	height: 100%;
	background-color: #ffffff;

	select,
	input {
		border-radius: 0;
	}
}

.srea-admin-header {
	display: flex;
	flex-basis: 50%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 10px;
	align-items: center;

	.srea-admin-title {
		text-align: center;
		flex: 1 0 auto;
		justify-self: center;
	}
}

.srea-admin-main {
	padding: 20px;
	display: grid;
	grid-template-columns: 200px auto;
	border: 1px solid #cccccc;
	border-top: none;
	.srea-tabs {
		border-top: 1px solid #ccc;
		cursor: pointer;

		.srea-tab {
			padding: 20px;
			border-bottom: 1px solid #ccc;
			border-left: 1px solid #ccc;
			&.active {
				background-color: #e5eeff;
				font-weight: bold;
			}
		}
	}

	.srea-views {
		border: 1px solid #ccc;
		padding-left: 40px;
		.srea-template-selector {
			display: flex;
			align-items: center;
			margin: 15px 0;
			.srea-setting-label {
				width: 30px;
				margin-right: 25px;
			}
			.srea-action-buttons {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				height: 60px;
				width: 100px;
			}
			.srea-template-selector-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 60px;
				height: 25px;
				border: 1px solid #cccccc;
				border-radius: 2px;
				&:enabled {
					cursor: pointer;
				}
				&.srea-remover:enabled {
					color:rgb(226, 74, 74);
				}
			}
			.preview-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 450px;
				min-height: 90px;
			}
		}
	}

	.srea-view.active {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
		flex-wrap: wrap;
		min-height: 130px;
		height: 100%;
		position: relative;

		.srea-loader,
		.srea-result-badge {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.srea-view:not(.active) {
		display: none;
	}
}

.srea-admin-footer {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

.srea-button {
	display: block;
	padding: 10px;
	border: none;

	&.srea-button-primary {
		background-color: rgb(74, 145, 226);
		color: #ffffff;
		font-weight: 500;
	}
}

#srea-settings-modal {
	position: fixed;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	background-color: #efefef;
	padding: 10px 30px 30px;
	border: 1px solid #ccc;
	z-index: 9990;
	display: none;

	&.visible {
		display: block;
	}

	.srea-modal-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		max-height: 400px;
		overflow-y: scroll;
	}

	.srea-setting-preview {
		cursor: pointer;
		background-color: #f8f8f8;
		&:hover {
			border-color: blue;
		}

		&.selected {
			background-color: #e5eeff;
			border-color: blue;
		}
	}
}

.srea-setting-preview {
	display: flex;
	flex-shrink: 0;
	height: 40px;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.srea-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#srea-modal-title {
	margin-left: 10px;
}

.srea-selected-template-preview {
	pointer-events: none;
}

@import "../../../../front/assets/src/scss/animations.scss";
@import "../../../../front/assets/src/scss/common.scss";
@import "../../../../front/assets/src/scss/templates.scss";
